<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<header th:fragment="header">
		<nav>
			<a th:href="@{/}">Home Page</a> <a sec:authorize="isAnonymous()"
				th:href="@{/login}">Log In</a> <a sec:authorize="isAuthenticated()"
				th:href="@{/auth}">Auth Page</a> <a
				sec:authorize="hasAuthority('ADMINISTRATOR')"
				th:href="@{/auth/admin}">Admin Page</a>
			<form sec:authorize="isAuthenticated()" th:action="@{/logout}"
				method="post">
				<input type="submit" value="Logout" />
			</form>
		</nav>
	</header>
</body>
</html>